/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pokerow {
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

.number {
    width: 200px;
    text-align: right;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.center > .mat-simple-snackbar {
    justify-content: center;
}